nvim/.config/nvim/autoload/
nvim/.config/nvim/pluged/
xmonad.errors
xmonad-x86_64-linux
vifm.vim
/scripts/.local/bin/autopep8
/scripts/.local/bin/black
/scripts/.local/bin/blackd
/scripts/.local/bin/epylint
/scripts/.local/bin/flake8
/scripts/.local/bin/futurize
/scripts/.local/bin/isort
/scripts/.local/bin/pasteurize
/scripts/.local/bin/pbr
/scripts/.local/bin/pipenv
/scripts/.local/bin/pipenv-resolver
/scripts/.local/bin/pycodestyle
/scripts/.local/bin/pydocstyle
/scripts/.local/bin/pyflakes
/scripts/.local/bin/pylint
/scripts/.local/bin/pyls
/scripts/.local/bin/pyreverse
/scripts/.local/bin/scripts/dropbox.py
/scripts/.local/bin/scripts/ext
/scripts/.local/bin/scripts/vertical.sh
/scripts/.local/bin/statusbar/
/scripts/.local/bin/symilar
/scripts/.local/bin/virtualenv
/scripts/.local/bin/virtualenv-clone
/scripts/.local/bin/virtualenvwrapper.sh
/scripts/.local/bin/virtualenvwrapper_lazy.sh
/scripts/.local/bin/yapf
